extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
  
        form(action=`/users/resetPassword/${token}?_method=PATCH`, method="post")
           
      
            div.form-group
                label(for='pw') Password:
                input#pw.form-control(type='password' name='password')
            div.form-group
                label(for='pw2') Confirm Password:
                input#pw2.form-control(type='password' name='confirmPassword')
            button.btn.btn-primary(type='submit') Sign up

